@model IEnumerable<DPTS.Domain.Entities.GenericAttribute>
<ul>
    @foreach (var loc in Model)
    {
        <li><a href="/Home/Search?q=&geo_location=@loc.EntityValue">@loc.EntityValue</a></li>
    }
</ul>