.top-header {
    height: 94px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.navbar-default {
    margin-top: 0;
}

.header-logo {
    height: 81px;
}

.tg-banner-holder .tg-banner-content {
    top: 152%;
    height: auto;
    margin: 452px 0 0;
    background: none;
}

.tg-searcharea-v2 {
    max-width: 100%;
    background: transparent;
}

.tg-searchform .form-group {
    width: 33%;
}

/*#auto-search {
    width: 25%;
}*/

#auto-search input {
    background-color: transparent;
    color: black;
    border: 1px solid #444;
    font-size: 21px;
}

.tg-searcharea-v2 .tg-searchform .form-group {
    display: inline-block;
}

#speciality {
    width: 242px;
}

#location-address {
    margin-left: 19px;
    height: 46px;
    margin-top: 6px;
    background-color: transparent;
    color: black;
    border: 1px solid #444;
    font-size: 21px;
}

.tg-searcharea-v2 {
    background-color: #ddd;
}

.carousel-caption h1 {
    text-align: center;
}

    .carousel-caption h1 span {
        font-size: 40px;
        position: relative;
        top: -156px;
        left: 90px;
    }

.about h2 {
    font-size: 42px;
}

.about h4 {
    font-size: 18px;
}

.about-details h3 {
    font-size: 23px;
}

.service h2 {
    font-size: 42px;
}

.team h2 {
    font-size: 42px;
}

.contact-heading h2 {
    font-size: 42px;
}

.contact-info h3 {
    font-size: 23px;
}

.default .builder-items .tg-theme-heading h2 {
    color: #42b3e5;
    font-size: 42px;
}

.tg-theme-heading .tg-description {
    font-size: 23px;
}

#searchbanner- {
    margin-top: 196px;
}

.tg-banner-holder .tg-banner-content {
    top: -20%;
}

.about .container {
    margin-top: 653px;
}

.team .container {
    margin-top: 835px;
}

#speciality {
    width: 549px;
}

#location-address {
    margin-left: 0px;
    height: 46px;
    margin-top: 0px;
    background-color: transparent;
    color: black;
    border: 1px solid #444;
    font-size: 21px;
}

#search_banner {
    background-color: #42b3e5 !important;
    color: black;
}

.cust-mini-cart .side-2 {
    background-color: white;
}

.container .cust-mini-cart {
    margin-top: 78px;
    font-size: 16px;
    font-family: serif;
}

.contact_me {
    padding: 6px 31px;
    font-size: 21px;
}

.btn-direction {
    padding: 9px 46px;
    /* background-color: #ddd; */
    border: 1px solid #ddd;
    font-size: 19px;
    color: black;
    background-color: #42b3e5;
    margin: 0 24px;
}

    .btn-direction:hover {
        background-color: white;
    }

.mini-cart-detail {
    margin-top: 96px;
}

.btn-appoinment {
    padding: 4px 41px;
    font-size: 25px;
}

.btn-speciality {
    padding: 11px 38px;
    border: 1px solid #ddd;
    color: black;
    font-size: 17px;
}

.appoinment-sch-main {
    margin-top: 113px;
}

    .appoinment-sch-main .tg-navdocappointment li a {
        font-size: 19px;
    }

    .appoinment-sch-main .tg-modalcontent .tg-appointmenttabcontent {
        background: none;
        border: 1px solid #ddd;
    }

    .appoinment-sch-main .tg-timeslotswrapper fieldset legend {
        text-align: center;
        background-color: #ddd;
        padding: 8px 0;
    }

    .appoinment-sch-main .tg-appointmenttime .tg-doctimeslot {
        height: 58px;
    }

    .appoinment-sch-main .bk-booking-schedules .tg-appointmenttime .booking-pickr {
        background: none;
        color: black;
        border: 3px solid #ddd;
    }

.tg-appointmenttime .tg-dayname:after, .tg-appointmenttime .tg-dayname:before {
    color: black;
}

.tg-appointmenttime .tg-dayname strong {
    color: black;
}

.cust-login {
    margin-top: 77px;
}

    .cust-login .do-login-button {
        background-color: #42b3e5;
    }

.cust-reg {
    margin-top: 77px;
}

    .cust-reg .do-register-button {
        background-color: #42b3e5;
    }
