.top-header {
    height: 94px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.navbar-default {
    margin-top: 0;
}

.header-logo {
    height: 81px;
}

.tg-banner-holder .tg-banner-content {
    top: 152%;
    height: auto;
    margin: 452px 0 0;
    background: none;
}

.tg-searcharea-v2 {
    max-width: 100%;
    background: transparent;
}

.tg-searchform .form-group {
    width: 33%;
}

/*#auto-search {
    width: 25%;
}*/

#auto-search input {
    background-color: transparent;
    color: black;
    border: 1px solid #444;
    font-size: 21px;
}

.tg-searcharea-v2 .tg-searchform .form-group {
    display: inline-block;
}

#speciality {
    width: 242px;
}

#location-address {
    margin-left: 19px;
    height: 46px;
    margin-top: 6px;
    background-color: transparent;
    color: black;
    border: 1px solid #ddd;
    font-size: 21px;
}

.tg-searcharea-v2 {
    background-color: #ddd;
}

.carousel-caption h1 {
    text-align: center;
}

    .carousel-caption h1 span {
        font-size: 40px;
        position: relative;
        top: -156px;
        left: 90px;
    }

.about h2 {
    font-size: 37px;
}

.about h4 {
    font-size: 18px;
}

.about-details h3 {
    font-size: 23px;
}

.service h2 {
    font-size: 37px;
}

.team h2 {
    font-size: 37px;
}

.contact-heading h2 {
    font-size: 37px;
}

.contact-info h3 {
    font-size: 23px;
}

.default .builder-items .tg-theme-heading h2 {
    color: #42b3e5;
    font-size: 37px;
}

.tg-theme-heading .tg-description {
    font-size: 18px;
}

#searchbanner- {
    margin-top: 0;
}

.tg-banner-holder .tg-banner-content {
    top: -20%;
}

.about .container {
    margin-top: 653px;
}

.team .container {
    margin-top: 835px;
}

#speciality {
    width: 549px;
}

#location-address {
    margin-left: 0px;
    height: 46px;
    margin-top: 0px;
    background-color: transparent;
    color: black;
    border: 1px solid #444;
    font-size: 21px;
}

#search_banner {
    background-color: #42b3e5 !important;
    color: black;
}

.cust-mini-cart .side-2 {
    background-color: white;
}

.container .cust-mini-cart {
    margin-top: 31px;
    font-size: 16px;
    font-family: serif;
}

.contact_me {
    padding: 6px 31px;
    font-size: 21px;
}

.btn-direction {
    padding: 9px 22px;
    /* background-color: #ddd; */
    border: 1px solid #ddd;
    font-size: 19px;
    color: black;
    background-color: #42b3e5;
    margin: 0 24px;
}

    .btn-direction:hover {
        color: black;
    }

    .btn-direction:hover {
        background-color: white;
    }

.mini-cart-detail {
    margin-top: 1px;
}

.btn-appoinment {
    padding: 4px 41px;
    font-size: 25px;
}

.btn-speciality {
    padding: 11px 38px;
    border: 1px solid #ddd;
    color: black;
    font-size: 17px;
}

.appoinment-sch-main {
    margin-top: 113px;
}

    .appoinment-sch-main .tg-navdocappointment li a {
        font-size: 19px;
    }

    .appoinment-sch-main .tg-modalcontent .tg-appointmenttabcontent {
        background: none;
        border: 1px solid #ddd;
    }

    .appoinment-sch-main .tg-timeslotswrapper fieldset legend {
        text-align: center;
        background-color: #ddd;
        padding: 8px 0;
    }

    .appoinment-sch-main .tg-appointmenttime .tg-doctimeslot {
        height: 58px;
    }

    .appoinment-sch-main .bk-booking-schedules .tg-appointmenttime .booking-pickr {
        background: none;
        color: black;
        border: 3px solid #ddd;
    }

.tg-appointmenttime .tg-dayname:after, .tg-appointmenttime .tg-dayname:before {
    color: black;
}

.tg-appointmenttime .tg-dayname strong {
    color: black;
}

.cust-login {
    margin-top: 9px;
}

    .cust-login .do-login-button {
        background-color: #42b3e5;
    }

.cust-reg {
    margin-top: 4px;
}

    .cust-reg .do-register-button {
        background-color: #42b3e5;
    }

.tg-inner-header .doc-topbar-v1 {
    background-color: #42b3e5;
}

    .tg-inner-header .doc-topbar-v1 .doc-contactweb p {
        font-size: 17px;
        padding: 4px;
    }

.doc-languages .tg-socialicon li a {
    margin-top: 5px;
    border-radius: 20px;
    background-color: black;
    color: #42b3e5;
}

    .doc-languages .tg-socialicon li a:hover {
        background-color: white;
        color: black;
    }

.tg-socialicon li a i {
    font-size: 17px;
}

.session-user-info a span.s-user {
    color: black;
}

.tg-inner-header .doc-topbar-v1 .doc-contactweb p a {
    color: black;
}

.tg-banner-holder .tg-banner-content {
    top: -29%;
}

.tg-nav ul li:after {
    content: none;
}

.tg-login-logout > li > a:after {
    content: none;
}

.tg-banner-holder .tg-banner-content {
    top: -49%;
}

.service h4 {
    font-size: 18px;
}

.team h4 {
    font-size: 18px;
}

.tg-main-section {
    padding: 41px 0;
}

.team h2 {
    margin-top: 0;
}

.tg-page-wrapper {
    padding: 0 0;
}

.tg-userbanner {
    padding: 4px 0;
}

.tg-userdetail {
    margin: -168px 0 0 0;
}

.doctor-review .cust-review {
    margin: 21px auto;
    float: none;
}

    .doctor-review .cust-review .page-title h3 {
        color: #42b3e5;
    }

.cust-login-top {
    margin-top: 21px;
    margin-bottom: 21px;
}

.cust-reg .cut-register-top {
    margin-top: 11px;
    margin-bottom: 11px;
}

.cust-block {
    margin-top: 23px;
}

.tg-widget > h3 {
    background: #42b3e5;
    color: black;
}

.cust-abt .tg-theme-heading h2 {
    color: #42b3e5;
}

.cust-abt .builder-items {
    margin-top: 24px;
}

.cust-contact .stretch_section {
    margin: 25px 0;
}

.cust-contact .tg-theme-heading h2 {
    color: #42b3e5;
}

.cust-forgotpswd .cust-forgotpswd-top {
    margin-top: 17px;
    margin-bottom: 17px;
}

    .cust-forgotpswd .cust-forgotpswd-top h4 {
        color: #42b3e5;
        text-align: center;
    }

.cust-profile {
    margin-top: 11px;
}

    .cust-profile ul.nav {
        background-color: #42b3e5;
    }

    .cust-profile .nav > li > a {
        padding: 10px 11px;
        color: black;
    }

button.tg-btn, input[type="submit"].tg-btn {
    background-color: #42b3e5;
}

    button.tg-btn:hover, input[type="submit"].tg-btn:hover {
        background-color: #42b3e5;
        transition: none;
    }

.specialities-list ul li {
    display: inline-block;
    border: 1px solid #ddd;
    width: 33%;
    max-width: 100%;
    padding: 20px;
    margin: 3px 3px;
    text-align: center;
}

.specialities-list ul {
    margin: 0;
}

.sc-dir-types .specialities-list ul li {
    width: 32%;
}
